/*----------------------------------
Global Stlyes
------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
	margin: 0;
	padding: 0;
}

/* border box fix */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Nerko One', cursive;
	/*one Em roughly ten pixels (16 x 62.5% = 10)*/
	font-size: 62.5%;
	letter-spacing: 1.5px;
	margin: 0;
}

.wrapper {
	height: 100vh;
	background-color: #000;
	display: flex;
  flex-direction: column;
  justify-content: center;
}

#quote-box {
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
	color: #fff;
	border: 1px solid #fff;
	font-size: 2em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

#author {
	font-style: italic;
}