/*----------------------------------
Global Stlyes
------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
	margin: 0;
	padding: 0;
}

/* border box fix */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'EB Garamond', serif;
	/*one Em roughly ten pixels (16 x 62.5% = 10)*/
	font-size: 62.5%;
	letter-spacing: 1.5px;
	margin: 0;
}

.wrapper {
	background-color: #000;
	height: 100vh;
	display: flex;
  flex-direction: column;
  justify-content: center;
}

#quote-box {
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	/* font-weight: bold; */
}

#text {
	font-size: 2em;
}

#author,
#cite {
	align-self: flex-end;
	font-style: italic;
	font-size: 1.7em;
}

.button-container {
	display: flex;
	justify-content: flex-start;
	margin-top: 1.5em;
}

#new-quote,
#tweet-quote {
  background: #000;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.6em;
  padding: 1em;
	border: none;
	border: 1px solid #fff;
}

#tweet-quote {
	background: #000;
	color: #1DA1F2;
	margin-right: 1em;
}

.icon {
	font-size: 1.8em;
}

#tweet-quote:hover {
	background: #1DA1F2;
	color: #fff;
  border: 1px solid #fff;
}

#new-quote:hover {
	background: #fff;
	color: #000;
	border: 1px solid #000;
}